@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FBFCFD;
    color: #191C1C;
    @apply antialiased font-sans leading-relaxed tracking-wide;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-m3-outline-variant rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-m3-outline;
}